<div class="row mt-3">
  <div class="col-8">
    <div class="row">
      <div class="col-3" *ngFor="let appointment of appointmentList">

        <div class="card" >
          <div class="card-body ">
            <h4 class="card-title">{{ appointment.name }}</h4>
            <p class="card-text">{{ appointment.naration }}</p>
            <p class="card-text"><i class="fa fa-phone" ></i> : {{ appointment.mobileNo }}</p>
            <a href="#" class="card-text mb-2"><i class="fa fa-clock" ></i> {{ appointment.appointmentTime }}</a>
            <p>
              <button type="button" style="font-size: 10px;" class="btn btn-outline-danger py-1" (click)="retryAppointment(appointment.appointmentId)">
              <i class="fa fa-trash"  ></i>
            </button>
          </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-secondary text-center">New appointment</div>
      <div class="card-body">
        <form action="">

          <div class="row">
            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-user"></i></span>
                <input  [(ngModel)]="appointmentObj.name" type="text" class="form-control" name="eee" placeholder="Your name">
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class=" me-1"><i class="fa-solid fa-user"></i></span>

                <div class="form-check form-check-inline">
                  <input  [(ngModel)]="appointmentObj.gender" class="form-check-input" name="genre" type="radio" value="Male">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input  [(ngModel)]="appointmentObj.gender" class="form-check-input" name="genre" type="radio" value="Female">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" ><i class="fa-solid fa-phone"></i></span>
                <input  [(ngModel)]="appointmentObj.mobileNo" type="text" class="form-control" name="eee" placeholder="Your mobile No">
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-location-pin"></i></span>
                <input  [(ngModel)]="appointmentObj.city" type="text" class="form-control" name="eee" placeholder="Your city">
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-calendar"></i></span>
                <input  [(ngModel)]="appointmentObj.age" type="text" class="form-control" name="eee" placeholder="Your age">
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class=" me-1"><i class="fa-solid fa-circle-plus"></i></span>

                <div class="form-check form-check-inline">
                  <input  [(ngModel)]="appointmentObj.isFirstVisit" class="form-check-input" type="checkbox" name="eee" value="true">
                  <label class="form-check-label">Is First time</label>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" ><i class="fa-solid fa-user"></i></span>
                <input  [(ngModel)]="appointmentObj.appointmentDate" type="date" class="form-control" name="eee">
              </div>
            </div>

            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text"><i class="fa-solid fa-clock"></i></span>
                <input  [(ngModel)]="appointmentObj.appointmentTime" type="time" class="form-control" name="eee" placeholder="Your Appointment time">
              </div>
            </div>

            <div class="col-12">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa-solid fa-file-lines"></i></span>
                <textarea [(ngModel)]="appointmentObj.naration" class="form-control" name="eee" placeholder="Description" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer d-flex justify-content-around">
          <button type="button" (click)="bookAppointemnt()" class="btn btn-primary">Book appointment</button>
      </div>
    </div>

  </div>
</div>
