<div class="card-body p-md-5 text-black">
  <h3 class="mb-5 text-uppercase text-center">Hospital registration</h3>
  <form>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div data-mdb-input-init class="form-outline">
          <input type="text" [(ngModel)]="hospitalObj.hospitalOwnerName" name="own" class="form-control form-control" />
          <label class="form-label" for="form3Example1m">Hospital name</label>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div data-mdb-input-init class="form-outline">
          <input type="text" [(ngModel)]="hospitalObj.hospitalOwnerContactNo" name="contact" class="form-control form-control" />
          <label class="form-label" for="form3Example1n">Contact No</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-4">
        <div data-mdb-input-init class="form-outline">
          <input type="text" [(ngModel)]="hospitalObj.hospitalName" name="hospital" class="form-control form-control" />
          <label class="form-label" for="form3Example1m1">Owner's name</label>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div data-mdb-input-init class="form-outline">
          <input type="text" [(ngModel)]="hospitalObj.hospitalContactNo" name="nume" class="form-control form-control" />
          <label class="form-label" for="form3Example1n1">Owner's contact No</label>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div data-mdb-input-init class="form-outline">
          <input type="text" [(ngModel)]="hospitalObj.hospitalEmailId" name="email" class="form-control form-control" />
          <label class="form-label" for="form3Example1n1">Owner's Email</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div data-mdb-input-init class="form-outline mb-4 col-md-4">
        <input type="text" [(ngModel)]="hospitalObj.hospitalCity" name="city" class="form-control form-control" />
        <label class="form-label" for="form3Example8">City</label>
      </div>
      <div data-mdb-input-init class="form-outline mb-4 col-md-8">
        <input type="text" [(ngModel)]="hospitalObj.hospitalAddress" name="address" class="form-control form-control" />
        <label class="form-label" for="form3Example8">Address</label>
      </div>
    </div>

    <div class="row">

      <div data-mdb-input-init class="form-outline mb-4 col-md-4">
        <input type="text" [(ngModel)]="hospitalObj.userName" name="userName" class="form-control form-control" />
        <label class="form-label" for="form3Example9">User Name</label>
      </div>

      <div data-mdb-input-init class="form-outline mb-4 col-md-4">
        <input type="text" [(ngModel)]="hospitalObj.password" name="password" class="form-control form-control" />
        <label class="form-label" for="form3Example90">Password</label>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-end pt-3">
    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn" (click)="clearHospital()" >Reset all</button>
    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn ms-2" (click)="onRegister()" >Save</button>
  </div>

</div>
